body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  color:#2d4d8a;
  font-size:25px;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center; 
  /* max-width: 600px; */
  width:90%;
  overflow:auto;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #3548f1;
  margin-left: 0px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 3px;
  text-decoration: none;
  padding: 6px;
  font-size: 1.2em;
  /* float: left; */
}
.navbar a:hover {
  color: #220b4d;
}
.Carousel {
  height: 100%;
  width:50%;
}
h3{
  font-size: 3.9em;
  color:#3f50d1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.bg-img {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/vet.jpg");

   */
  min-height: 790px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.form-container {
  position:absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
  margin-right: 50px;
  display: inline-block;
  max-height:47em;
  border-color:#b4cdee;
  border-width: 3px;
  /* size:70px; */
}
.form-group {
  margin-bottom: 10px;
}
.map-container iframe{
  left:0;
  top:0;
  height:75%;
  width:70%;
  position:absolute;
  align-items: center;
  justify-content: center;
  }
  .map-container{
    padding-bottom:50%;
    margin-top: 5%;
    position:relative;
    height:25em;
    display: flex;
    flex-basis: 100%;
    width: 100%;
}
.map-txt {
  margin-left: 50px;
  margin-top: 10%;
  display: inline-block;
  text-align: left;
  position: relative;
} 
