/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #27d44c;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(108, 153, 112);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  font-size:25px;
  background-color:#abe6b8;
}
h1 {
  font-family: "Poppins","Helvetica", sans-serif;
  color:green;
  text-align: center;
  font-size:40px;
}
p1{
  position:fixed;
  bottom: 0;
  text-align: center;
  font-size: small;
  font-family: "Montserrat", sans-serif;
}
p{
  font-size:25px;
}

label{
font-size:large;
}
s2{
  font-size:large;
}
label1{
  font-size:large;
}
label2{
  font-size:large;
}
.tablinks{
  font-size:xx-large;
}
.cart{
  font-size: large;
}
